@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 208, 208);
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

html,
body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

#imgicon {
    width: 8vw;
    height: 17vh;
    display: flex;
    margin-left: 24px;
}

.menu-tab {
    background: #560303;
    height: 10vh;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#button {
    padding: none;
    display: flex;
    list-style: none;
    align-items: center;
    text-transform: uppercase;
}

.tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabbutton {
    margin-top: 15px;
    text-align: center;
    margin-left: 40px;
    font-size: 20px;
    height: 10vh;
    color: #74ACAF;
    background: none;
    padding: 0;
    text-transform: uppercase;
}

.menu-primaril nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    margin-left: 10px;
}

.tab nav a {
    text-decoration: none;
    color: #ffffff;
}

.nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
    background-color: #000;
    height: 17vh;
    letter-spacing: 4px;
}

.logo {
    font-size: 46px;
    color: #74ACAF;
}

.bnt-final a:hover,
.menu-primaril a:hover,
.tab a:hover,
.label-menu:hover,
.tabbuttonMobile:hover,
.X:hover,
.bntAbri:hover {
    cursor: pointer;
    color: #74ACAF;
    opacity: 0.8;
}

/*estilo mobile*/
.menuMobile {
    transition: .5s;
    right: 0;
    top: 0;
    z-index: 3;
    background-color: #000;
    height: 100vh;
    width: 0%;
    overflow: hidden;
    position: fixed;
}

.bntAbri {
    position: relative;
}

li {
    list-style: none;
}

.menuMobile>nav>ul>li>a {
    text-decoration: none;
    font-weight: 300;
    font-size: 20pt;

}

.tabbuttonMobile:hover {
    padding: 20px;
    background-color: #560303;
}

.tabbuttonMobile {
    padding: 20px 4%;
    text-align: right;
}

.bntFechar {
    padding: 8px;
}

.fundoDesfoc {
    display: none;
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #560303bb;
}

.menuMobile.menuAberto {
    width: 70%;
}

.menuMobile.menuAberto~.fundoDesfoc {
    display: block;
}

/*fim do menu*/

#formularioSuporte{
    color: #74ACAF;
    min-height: 87vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: #000;
    font-family: 'IBM Plex Mono';
}

form{
    width: 100%;
    max-width: 30rem;
}

label,input,textarea, button{
    display: block;
}

input,textarea, button{
    width: 100%;
    font-weight: inherit;
    padding: 1.25rem;
    font-weight: 700;
}
 
input,textarea{
    margin-bottom: 1rem;
    color: #ffffff;
    background: #560303;
    border: 0rem solid transparent;
    border-radius: 0px 0px 20px 0px;
    transition: border 0.3s;
}

input:hover,input:focus,textarea:hover, textarea:focus{
    outline: none;
    border: 1px solid #ffffff;
}

label{
    margin-bottom: 0.5rem;  
}

textarea{
    min-width: 12.5rem;
    resize: vertical;   
}

button{
    background-color: #74ACAF;
    color: #ffffff;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    transition: 0,3s;
}

button:hover,
button:focus{
    outline: none;
    border: 1px solid #ffffff;
}

button:disabled{
        cursor: not-allowed;
        background-color: #560303d0;
}

.success,.error{
    text-align: center;
}

.success{
    color: greenyellow;
}

.error{
    color: tomato;
}

.rodape {
    font-family: 'IBM Plex Mono';
    font-size: 10pt;
    margin-top: 10px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000;
}

.icon {
    display: flex;
    align-items: flex-end;
    padding: 3px;
}

.icon>img {
    width: 45px;
    height: 45px;
}

.rodapeSubDiv,
.rodapeSubDivSites {
    padding-top: 10px;
    margin-left: 42px;
    text-align: center;
    grid-column: unset;
    justify-content: center;

}

.rodapeSubDivSites {
    display: flex;
    flex-wrap: wrap;
}

#eclipseIcon {
    width: 189px;
    height: 189px;
    display: flex;
}

#rodapeText {
    margin-right: 42px;
    text-align: start;
    word-wrap: break-word;
    text-align: center;
}
body{
    background-color: #000;
}

#separacao{
    height: 3px;
    width: 100vw;
    background-color: #560303;
}

@media (max-width: 834px) {
    .containerImgTxt {
        display: table;
    }
    .locais-card {
        height: 57vh;
        width: 38vw;
    }
    #imgicon {
        width: 39vw;
        height: 13vh;
    }
    .menu-primaril{display: none;}
    .tabbutton{display: none;}
}
@media (max-width:414px) {
    .logo{
        font-size: 30pt;
    }
    #title > h1 {
        width: 44vw;
    }
}
@media (max-width:393px) {
    .IconLocais {
        width: 99px;
    }

    .locais-card {
        height: 57vh;
        width: 38vw;
    }

    .menu>a,
    .menu-primaril {
        display: none;
    }
    .logo{
        font-size: 29pt;
    }
}
@media (max-width:390px){
    #imgicon {
        width: 29vw;
    }
    .logo {
        font-size: 33px;
    }
    #title > h1 {
        width: 36vw;
    }
}
@media (max-width:360px){
    .logo{
        font-size: 23pt;
    }
    .locais-card {
        height: 60vh;
        width: 38vw;
    }
    #title > h1 {
        width: 44vw;
    }
    .IconLocais {
        height: 20vh;
        width: 112px;
    }
    #imgicon {
        width: 24vw;
    }
}
@media (max-width:320px){
    .locais-card {
        height: 80vh;
    }
    .logo {
        font-size: 23pt;
    }
    .IconLocais {
        width: 95px;
    }
}

